.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
    color: #FFFFFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
  }
  
.title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    text-transform: uppercase;
}

.info {
    font-family: 'Quicksand', sans-serif; 
}

.heading {
    font-family: 'Fredericka the Great', cursive;
    background-color: white;
}

.content {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 25px;
    margin-bottom: 5%;
    margin-top: 3%;
    color: #1c3360;
    text-align: center;
    padding-top: 10px;
}

  #myNavbar {
    font-family: 'Bree Serif', serif;
  }

  body {
      background-color: black;
      color: #1c3360;
  }

  .logoimg {
    height: 60px;
    width: 60px;
    bottom: 10px;
  }

  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,   
    .navbar-inverse .navbar-nav .active a:hover {
    color: white;
  }

  .navbar-right {
    font-family: 'Exo', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: white;
  }

  .navbar-inverse .navbar-nav li a {
    color: white;
  }


  .btn:hover {
    color: black;
    border: 2px solid black;
  }

  .footerfont {
    font-family: 'Fredericka the Great', cursive;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #e96363;
    border: 2px solid purple;
    color: white;

  }

.videoHolder {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}

.iframe {
box-sizing: border-box;
background: url('../img/iPad.png') center center no-repeat;
background-size: contain;
padding: 3.5% 8% 4.5%;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* border: 4px solid #000 !important;
-moz-border-radius: 15px !important;
border-radius: 15px !important; */
}