.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
    color: #FFFFFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
  }
  
.title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    text-transform: uppercase;
}

.titleF {
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #EEDCDC;
  color: black !important;
  margin-top: 2%;
}
.specialpic {
    height: 250px;
}

.fontsize2 {
    font-size: 15px;
    padding: 10px;
}

.info {
    font-family: 'Quicksand', sans-serif; 
}

.heading {
    font-family: 'Fredericka the Great', cursive;
    background-color: white;
}

.content {
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 3%;
    color: #1c3360;
}


.contentF {
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: -10%;
    color: black;
}

.faillingwaterimg {
  min-width: 700px !important;
}

  #myNavbar {
    font-family: 'Bree Serif', serif;
  }

  body {
      background-color: black;
      color: #1c3360;
  }
  .navbar-brand {
    float: left;
    padding: 0 15px 5px;
    min-height: 55px;
  }

  .logoimg {
    height: 60px;
    width: 60px;
    bottom: 10px;
  }

  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,   
    .navbar-inverse .navbar-nav .active a:hover {
    color: white;
    background-color: #e96363;
  }

  .navbar-right {
    font-family: 'Bree Serif', serif;
  }

  .slider {
    width: 100%;
  }
  .navbar-inverse .navbar-nav li a {
    color: #1c3360;
  }
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    bottom: 20%;
  }

  .fallingwaterbody {
    background-color: #EEDCDC;
  }

  .gallery {
    background-color: #E98463;
    margin-bottom: 2%;
  }
  
  .primary {
    height: 50vh;
    width: 40vw;
  }
  .btn {
    font-size: 18px;
    color: white;
    background-color: #e96363;
    padding: 12px 22px;
    border: 2px solid #FFF;
  }

  .inbtn {
      color: white !important;
  }

  .btn:hover {
    color: black;
    border: 2px solid black;
  }

  .pic3 {
    height: 160px;
    width: 500px;
  }

  .footerfont {
    font-family: 'Fredericka the Great', cursive;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #e96363;
    border: 2px solid purple;
    color: white;

  }

  .footerF {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 100px;
      background-color: #CD8E32 !important; 
      color: white;
  }

  .fa {
    margin-top: 20px;
    padding: 10px !important;
    font-size: 30px;
    color: white;
  }

  .fa:hover {
    color: #d5d5d5;
    text-decoration: none;
  }

  .footer-icon {
    max-width: 100px;
    max-height: 100px;
  }

  /* mobile version */

  @media (max-width: 900px) {
    .fa {
      font-size: 20px;
      padding: 10px;
    }
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }

  #icon {
    max-width: 250px;
  }

  #icon2 {
    max-width: 95%;
    border: 3px black solid;
    position: relative;
    width:  350x;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  #icon3 {
    max-width: 95%;
    border: 3px black solid;
    position: relative;
    width:  740px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  #icon4 {
    max-width: 95%;
    border: 3px black solid;
    position: relative;
    width:  500px;
    height: 550px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  #icon5 {
    max-width: 95%;
    border: 3px black solid;
    position: relative;
    width:  500px;
    height: 275px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }
  h2 {
    font-size: 1.7em;
  }

.videoHolder {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}

.iframe {
box-sizing: border-box;
background: url('../img/iPad.png') center center no-repeat;
background-size: contain;
padding: 3.5% 8% 4.5%;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* border: 4px solid #000 !important;
-moz-border-radius: 15px !important;
border-radius: 15px !important; */
}