body {
  background: #000000;  /* fallback for old browsers */
  background-image: linear-gradient(to bottom, #000000, #131111, #1f1c1c, #2a2626, #373131);
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    color: #FFFFFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
  
.title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    text-transform: uppercase;
}

.info {
    font-family: 'Quicksand', sans-serif; 
}

.heading {
    font-family: 'Fredericka the Great', cursive;
    background-color: white;
}

.content {
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
}

.contentText {
  padding: 15px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
}

.subContent {
  font-size: 24px;
  color: #FDC575 !important;
  font-family: 'Lato', sans-serif;
}

  #myNavbar {
    font-family: 'Bree Serif', serif;
  }

  .logoimg {
    height: 120px;
    width: 270px;
    bottom: 30px;
  }

  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,   
    .navbar-inverse .navbar-nav .active a:hover {
    color: white;
  }

  .navbar-right {
    font-family: 'Exo', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: white;
  }

  .navbar-inverse .navbar-nav li a {
    color: white;
  }


  .btn:hover {
    color: black;
    border: 2px solid black;
  }

  .footerfont {
    font-family: 'Fredericka the Great', cursive;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #e96363;
    border: 2px solid purple;
    color: white;

  }

.videoHolder {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}

.iframe {
box-sizing: border-box;
background: url('../img/iPad.png') center center no-repeat;
background-size: contain;
padding: 3.5% 8% 4.5%;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* border: 4px solid #000 !important;
-moz-border-radius: 15px !important;
border-radius: 15px !important; */
}

.subTitle {
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: white;
}

.border1 {
  text-align: center;
  color: orange;
  font-family: 'Lato', sans-serif;
}

.navitem:hover {
  font-size: 30px;
  background-image: linear-gradient(to bottom, #000000, #131111, #1f1c1c, #2a2626, #373131);
  color: white;
  text-decoration: underline;
  position: relative;
}


/* Icons */

.btn-floating {
    border-radius: 100%;
    font-size: 20px;
}

.btn-fb {
  color: white;
  background-color: #00006D;
}

.btn-tw {
  color: white;
  background-color: #1DA1F2;
}

.btn-gplus {
  color: white;
  background-color: #DC4A38;
  padding: 6px !important;
}

.btn-li {
  color: white;
  background-color: #0177B4;
}

.list-inline {
  margin-bottom: 50px;
}
/* End Icons */
